In [3]:
x1=int(input("enter 1st number"))
x2=int(input("enter 2nd number"))
add=x1+x2
print("the sum is ",add)

enter 1st number2
enter 2nd number3
the sum is  5

In [7]:
r=int(input("enter your radius"))
area=3.14*r*r
print("the area of circle is ",area)

enter your radius3
the area of circle is  28.259999999999998

In [20]:
b=int(input("enter the the base value"))
h=int(input("enter the height value"))
area=(1/2)*b*h
print("the area of the triangle is ",area)

enter the the base value3
enter the height value9
the area of the triangle is  13.5

In [19]:
b=int(input("enter the value of b : "))
a=int(input("enter the value of a : "))
c=int(input("enter the value of c : "))
root1=(-b+(b*b-4*a*c)**0.5)/(2*a)
root2=(-b-(b*b-4*a*c)**0.5)/(2*a)
print("the roots of the equation are ",root1,root2,sep=" ")

enter the value of b : -5
enter the value of a : 1
enter the value of c : 6
the roots of the equation are or3.0or2.0

In [68]:
x="pw ioi bangalore"
y=x
x[-1:-10:-1]
y[-9::]

pw ioi bangalore pw ioi bangalore

In [71]:
3 ** 2

9

In [77]:
ord('a')

97

In [85]:
a="BHOPAL"
b="bhopal"
print("a=",a,"b=",b,a<=b)

a= BHOPAL b= bhopal True

In [90]:
5<4<6

False

In [95]:
print(10==True)

False

In [98]:
print("A"=="65")

False

In [102]:
int(True)

1

In [108]:
0 and 5

0

In [110]:
x=y=z=10
print(x,y,x)

10 10 10

In [111]:
x,y=10,11
print(x,y)

10 11